html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, strong, var, dl, dt, dd, ol, ul, li, form, label, table, caption, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align:baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: 0;
  font-size: 15px;
  width: 220px;
  margin: 0;
  padding: 0;
}

.sidebar-brand {
  width: 100%;
  height:auto;
  border-bottom: solid 1px #000000;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.sidebar-brand a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.user-img-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.user-img-container img {
  width: 30px;
  height: auto;
}

.sidebar-item {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #000000;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.sidebar-item a {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #b2b2b2;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 15px 0;
}

.img-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  margin: 0 10px;
}

.mobile_person2020, .mobile_heart2020, .mobile_bell2020, .mobile_mail2620, .mobile_help2020, .mobile_sakenomo2020, .mobile_beginner1620, .mobile_logout2020 {
  fill: #b2b2b2;
}

.mobile_person2020, .mobile_heart2020, .mobile_bell2020, .mobile_help2020, .mobile_sakenomo2020, .mobile_logout2020 {
  width: 20px;
  height: 20px;
}

.mobile_beginner1620 {
  width: 16px;
  height: 20px;
}

.mobile_mail2620 {
  width: 18px;
  height: 20px;
}

.mobile_mail2620 {
  width: 26px;
  height: 20px;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  text-decoration: none;
  transition: all .1s;
}

/*.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}*/

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  width: 20px;
  height: 16px;
  padding: 0;
  border: none;
  z-index: 90;
  cursor: pointer;
}

.hamburger:hover { outline: none; }
.hamburger:focus { outline: none; }
.hamburger:active { outline: none; }

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 1px;
}

.hamburger.is-closed .hamb-top {
  top: 0px;
  background-color: #8c8c8c;
  -webkit-transition: all 0.3s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
  top: 50%;
  background-color: #8c8c8c;
  margin-top: -1px;
}

.hamburger.is-closed .hamb-bottom {
  bottom: 0px;
  background-color: #8c8c8c;
  -webkit-transition: all 0.3s ease-in-out;
}

.hamburger.is-open .hamb-top {
  top: 50%;
  background-color: #ffffff;
  margin-top: -2px;
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-middle {
  background-color: #ffffff;
  display: none;
}

.hamburger.is-open .hamb-bottom {
  top: 50%;
  background-color: #ffffff;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.73, 1, 0.28, 0.08);
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(63, 63, 63, 0.75);
  z-index: 80;
  display: none;
}

.overlay .hamburger {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 13px;
  left: 240px;
  background: transparent;
  width: 20px;
  height: 16px;
  border: none;
  z-index: 90;
  cursor: pointer;
}

.nav .open > a { background-color: transparent; }
.nav .open > a:hover { background-color: transparent; }
.nav .open > a:focus { background-color: transparent; }
  