#container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 105px;
}

#mainview_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  max-width: 96%;
  height: auto;
}

#mainview {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
}

#banner_frame {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
}

/*special_selection*******************/
.multiple-heading {
  width: 100%;
  max-width: 100%;
  height: 150px;
}

.multiple-heading li {
  overflow: hidden;
}

.multiple-heading li {
  display: none;
}

.multiple-heading li.slick-initialized {
  display: block; /*slick-initializedが付与されたら表示*/
}

.multiple-heading li a {
  outline: none;
}

.slide_kimoto {
  background: url(../images/icons/image_kimoto.png) no-repeat;
  background-size: cover;
  background-position: left bottom;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 150px;
}

.slide_kimoto_article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.slide_kimoto_title {
  background: #2D2211;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 12px;
  margin-bottom: 8px;
  border-radius: 2px;
  z-index: 1;
}

.slide_kimoto_text {
  color: #2D2211;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #ffffff;
  line-height: 140%;
  z-index: 1;
}

.slide_kimoto_text span {
  font-size: 14px;
  font-weight: bold;
}

.slide_kimoto_text_sub {
  color: #2D2211;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #ffffff;
  line-height: 90%;
  z-index: 1;
  display: none;
}

.slide_sparkling {
  background: url(../images/icons/image_sparkling_topbanner.png) no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 150px;
}

.slide_sparkling_article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.slide_sparkling_title {
  background: #302F00;
  color: #ffffff;
  font-size: 14px;
  padding: 4px 12px;
  margin-bottom: 8px;
  border-radius: 2px;
  z-index: 1;
}

.slide_sparkling_text {
  color: #302F00;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #ffffff;
  line-height: 140%;
  z-index: 1;
}

.slide_sparkling_text_sub {
  color: #302F00;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #ffffff;
  line-height: 90%;
  z-index: 1;
  display: none;
}

/*threads review*******************/
#threads {
  width: 100%;
  height: auto;
}

#threads .review {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  text-decoration: none;
  width: 100%;
  height: auto;
  padding: 16px;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

#threads .review:first-child {
  margin-top: 0;
}

/*user_container*******************/
.nonda_user_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.nonda_user_image_container {
  overflow: hidden;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
}

.nonda_user_image_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nonda_user_name_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-right: 0;
}

.nonda_user_name {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  line-height: 140%;
}

.nonda_user_profile_date_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 140%;
  width: 100%;
}

/*sake_container*******************/
.nonda_sake_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.nonda_sake_name {
  color: #0740A5;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 140%;
  margin-top: 8px;
}

.nonda_brewery_pref_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 13px;
  line-height: 140%;
  width: 100%;
  margin-top: 4px;
}

.user_nonda_brewery_date_container div:first-child {
  margin-right: 8px;
}

/*nonda_rank*******************/
.nonda_rank {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.review_star_rating {
  position: relative;
  width: 100px;
  height: 20px;
  font-size: 20px;
  margin-top: 8px;
}
.review_star_rating_front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #AAC81E;
}
.review_star_rating_back {
  color: #d2d2d2;
}

.review_sake_rate {
  color: #E05314;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 8px;
}

/*nonda_subject_message*******************/
.nonda_subject_message_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.nonda_subject {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin-top: 16px;
}

.nonda_message {
  overflow: hidden;
  font-size: 13px;
  line-height: 140%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  width: 100%;
  max-height: 56px;
  margin: 8px 0;
}

/*nonda_photo*******************/
.review_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.review_image {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid #d2d2d2;
  margin-top: 8px;
  margin-right: 8px;
}

.review_image:last-child {
  margin-right: 0;
}

.review_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*tastes*******************/
.tastes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.tastes_item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 33.333333%;
  height: 36px;
  padding: 0 8px;
  margin-top: 16px;
  margin-bottom: 8px;
  border-right: 1px solid #e6e6e6;
}

.tastes_item:nth-child(3n) {
  border-right: none;
}

.tastes_title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tastes_item:first-child .tastes_title {
  font-size: 8px;
}

.tastes_item_flavor1816, .tastes_item_aroma1216, .tastes_item_body1216, .tastes_item_clear3030, .tastes_item_sweetness3030, .tastes_item_umami3030, .tastes_item_acidity3030, .tastes_item_bitter1216, .tastes_item_yoin3030 {
  fill: #b2b2b2;
  margin-right: 5px;
}

.tastes_item_flavor1816 {
  width: 18px;
  height: 16px;
}

.tastes_item_clear3030, .tastes_item_sweetness3030, .tastes_item_umami3030, .tastes_item_acidity3030, .tastes_item_yoin3030 {
  width: 16px;
  height: 16px;
}

.tastes_item_aroma1216, .tastes_item_body1216, .tastes_item_bitter1216 {
  width: 12px;
  height: 16px;
}

.tastes_value_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taste_value {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 4px;
}

.taste_value_flavor {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tastes_bar_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 10px;
}

.tastes_bar_container .user_input_range {
  width: 100%;
}

.tastes_bar_container .user_input_range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #d2d2d2;
  width: 100%;
  height: 2px;
  border-radius: 1px;
}
.tastes_bar_container .user_input_range[type="range"]:focus, .tastes_bar_container .user_input_range[type="range"]:active {
  outline: none;
}

.tastes_bar_container .user_input_range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 10px;
  height: 10px;
  display: block;
  border: 2px solid #009696;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

/*new_review********************/
.new_review, .recommend_sake, .ranking, .trend_access, .brewery, .restaurant, .store, .sake_users {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #3f3f3f;
  width: 1200px;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #e6e6e6;
  margin-top: 20px;
}

.new_review > div:first-child, .recommend_sake > div:first-child, .trend_access > div:first-child, .brewery > div:first-child, .restaurant > div:first-child, .store > div:first-child, .banner > div:first-child {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.top_review3630, .top_recommend3630, .top_rising3630, .top_ranking3630, .top_brewery3630, .top_restaurant3630 {
  width: 30px;
  height: 25px;
}

.top_reviewers3030, .top_store3030 {
  width: 25px;
  height: 25px;
}

.top_review3630, .top_recommend3630, .top_rising3630, .top_ranking3630, .top_brewery3630, .top_restaurant3630, .top_store3030, .top_reviewers3030 {
  fill: #8c8c8c;
  margin-right: 10px;
}

.multiple-message {
  width: 1200px;
  max-width: 100%;
  height: 250px;
}

.multiple-message li {
  width: 300px;
  height: 250px;
  outline: none;
}

.new_review_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  max-width: 300px;
  height: 250px;
  cursor: pointer;
}

.messageuser {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  word-wrap: break-word;
  width: 50px;
  height: auto;
  overflow: hidden;
}

.messageuser_image_container {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
}

.messageuser_image_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.messageuser_name_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 4px;
}

.messageuser_name_container div {
  color: #8C143C;
  font-size: 11px;
  text-decoration: none;
  line-height: 120%;
  width: 100%;
  height: auto;
}

.messageuser_date {
  width: 100%;
  height: auto;
  color: #8c8c8c;
  font-size: 11px;
  line-height: 120%;
  margin-top: 8px;
}

.messageframe {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 240px;
  max-width: 100%;
  height: 250px;
  max-height: 100%;
  padding: 0 8px;
  border:1px solid #d2d2d2;
}

.messageframe:before, .messageframe:after {
  position: absolute;
  right: 100%;
  content: ' ';
  width: 0;
  height: 0;
  border: solid transparent;
}

.messageframe:before {
  border-width: 6px;
  border-right-color: #d2d2d2;
  top: 18px;
}

.messageframe:after {
  border-width: 4px;
  border-right-color: #ffffff;
  top: 20px;
}

.messageframe_sake_brewery_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.messageframe_sake_name_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 26px;
}

.messageframe_sake_name_container div {
  color: #8C143C;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding-top: 4px;
}

.messageframe_brewery_name_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 24px;
}

.messageframe_brewery_name_container div {
  color: #3f3f3f;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding-bottom: 4px;
}

.messageframe_subject_star_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 55px;
  border-top: 1px dotted #d2d2d2;
  overflow: hidden;
}

.messageframe_subject_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 27px;
  border: 1px solid #ff0000;
}

.messageframe_subject_container > div {
  color: #0740A5;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding-top: 4px;
}

.messageframe_star_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 28px;
}

.new_review_star_rating {
  position: relative;
  width: 100px;
  height: 20px;
  font-size: 20px;
  border: 1px solid #ff0000;
}

.new_review_star_rating_front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #AAC81E;
  margin-top: -1px;
}

.new_review_star_rating_back {
  color: #d2d2d2;
  margin-top: -1px;
}

#new_review_sake_rate {
  color: #E05314;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  border: 1px solid #ff0000;
}

.messageframe_image_message_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  width: 100%;
  height: 145px;
  border-top: 1px dotted #d2d2d2;
}

.messageframe_image_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100px;
  height: 129px;
  margin: 8px 0;
  margin-right: 8px;
  overflow: hidden;
}

.messageframe_image_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.messageframe_message_review {
  color: #3f3f3f;
  font-size: 13px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 120%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  width: 116px;
  height: 120px;
  margin: 8px 0;
  border: 1px solid #ff0000;
}

.like_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px dotted #d2d2d2;
}

/*recommend_sake*******************/
.multiple-sake/*おすすめ、急上昇、ランキング共通*/ {
  width: 1200px;
  max-width: 100%;
  height: 250px;
}

.sakeitem {
  width: 140px;
  height: 250px;
  margin: 0 10px;
  outline: none;
}

.sakeitem {
  display: none;
}

.sakeitem.slick-initialized {
  display: block; /*slick-initializedが付与されたら表示*/
}

.sakeitem_click {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #f5f5f5;
  width: 140px;
  max-width: 140px;
  height: 250px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
}

.sakeitem_click:hover h1 {
  background: #FFFAF0;
  color: #DC7814;
}

.multiple-sake .sakeitem_image_container {
  width: 140px;
  height: 200px;
  overflow: hidden;
}

.multiple-sake .sakeitem_image_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.multiple-sake .sakeitem_sake_brewery_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: #0740a5;
  font-weight: bold;
  width: 140px;
  height: 50px;
  padding: 0 4px;
  border-top: 1px solid #d2d2d2;
}

.sakeitem_sake_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  max-width: 100%;
  height: 26px;
  border-bottom: 1px dotted #d2d2d2;
}

.sakeitem_sake_container p {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.sakeitem_brewery_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  max-width: 100%;
  height: 24px;
}

.sakeitem_brewery_container p {
  color: #3f3f3f;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

/*ranking*******************/
.ranking > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ranking > div > div:first-child {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 18px;
}

.ranking .ranking_sort, .sake_users .ranking_sort {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.ranking_sort > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background:#b2b2b2;
  color:#ffffff;
  font-size: 13px;
  border-radius: 2px;
  padding: 6px 12px;
  margin-left: 10px;
  cursor: pointer;
}

.ranking_sort > div:first-child {
  background: #22445B;
  color: #ffffff;
  margin-left: 0;
}

/*trend_access*******************/


/*brewery, restaurant, store*******************/
.multiple-brewery, .multiple-restaurant, .multiple-store {
  width: 1200px;
  max-width: 100%;
  height: 250px;
}

.multiple-brewery li, .multiple-restaurant li, .multiple-store li {
  width: 300px;
  height: 250px;
  overflow: hidden;
  margin: 0 10px;
}

.multiple-brewery li, .multiple-restaurant li, .multiple-store li {
  display: none;
}

.multiple-brewery li.slick-initialized, .multiple-restaurant li.slick-initialized, .multiple-store li.slick-initialized {
  display: block; /*slick-initializedが付与されたら表示*/
}

.multiple-brewery li a, .multiple-restaurant li a, .multiple-store li a {
  outline: none;
}

/*banner_item()*******************/
.banner_item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  max-width: 300px;
  height: 120px;
  overflow: hidden;
}

.banner_item:hover .banner_item_name_container div {
  color: #DC7814;
}

.banner_item:first-child {
  margin-bottom: 10px;
}

.banner_item > div:first-child {
  width: 130px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #d2d2d2;
  margin-right: 10px;
}

.banner_item > div:first-child img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner_item_article_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  color: #3f3f3f;
  width: 160px;
  height: 120px;
}

.banner_item_name_pref_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d2d2d2;
}

.banner_item_name_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 22px;
}

.banner_item_name_container > div {
  color: #0740A5;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.banner_item_pref_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 18px;
}

.banner_item_pref_container > div {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.banner_item_profile_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  height: 80px;
}

.banner_item_restaurant_profile, .banner_item_store_profile {
  font-size: 13px;
  line-height: 120%;
  width: 100%;
  height: auto;
  margin-top: 4px;
}

.banner_item_brewery_profile {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 4px;
}

.banner_item_brewery_profile > div {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 4px;
}

/*sake_users*******************/
.sake_users > div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sake_users > div > div:first-child {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  font-size: 18px;
}

.multiple-item {
  width: 1200px;
  max-width: 100%;
  height: auto;
}

.multiple-item .users {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  margin: 0 10px;
  overflow: hidden;
  outline: none;
}

.multiple-item .users_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f5f5f5;
  width: 100%;
  padding: 8px;
  text-decoration: none;
  outline: none;
}

.sake_users_image_container {
  width: 50px;
  min-width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 4px;
}

.sake_users_image_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sake_users_crown_username_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.sake_users_crown_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
}

.top_crown2218 {
  fill: #8c8c8c;
  width: 22px;
  height: 18px;
  margin-right: 5px;
}

.sake_users_crown_container span {
  color: #3f3f3f;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}

.sake_users_username_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
}

.sake_users_username_container h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #0740A5;
  font-size: 14px;
  line-height: 120%;
  width: 100%;
}

/****************************/
#ad1, #ad2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #d2d2d2;
  margin-top: 20px;
}

#ad2 {
  border: 1px solid #d2d2d2;
  margin-top: 20px;
}

#ad1 img, #ad2 img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-top: 20px;
}

#calendar {
	float:left;
	margin:auto;
	padding:4px;
	font-size:15px;
}

#dialog-message {
	font-size:8pt;
}

@media only screen and (min-width: 340px) {
  .tastes_item:first-child .tastes_title {
    font-size: 11px;
  }
}

@media only screen and (min-width: 370px) {
  .multiple-message li {
    margin: 0 10px;
  }

  .tastes_item:first-child .tastes_title {
    font-size: 13px;
  }
}

@media only screen and (min-width: 390px) {

}

@media only screen and (min-width: 410px) {
  .nonda_user_profile_date_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 560px) {
  .multiple-heading {
    height: 250px;
  }

  .slide_kimoto {
    height: 250px;
  }

  .slide_sparkling {
    height: 250px;
  }

  .slide_kimoto_article {
    margin-right: 48px;
  }

  .slide_sparkling_article {
    margin-left: 48px;
  }

  .slide_kimoto_text {
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 4px;
    border-bottom: 1px solid #2D2211;
  }

  .slide_kimoto_text span {
    font-size: 18px;
  }

  .slide_sparkling_text {
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 4px;
    border-bottom: 1px solid #302F00;
  }

  .slide_kimoto_text_sub {
    display: block;
    margin-top: 8px;
  }

  .slide_sparkling_text_sub {
    display: block;
    margin-top: 8px;
  }

  .tastes_item {
    width: auto;
    max-width: 120px;
    padding: 0 10px;
  }

  .tastes_item:nth-child(3n) {
    border-right: 1px solid #e6e6e6;
  }

  .tastes_item:last-child {
    border-right: none;
  }
}

@media only screen and (min-width: 640px) {
  .ranking .ranking_sort, .sake_users .ranking_sort {
    display: flex;
  }
}

@media only screen and (min-width: 800px) {
  .nonda_sake_name {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1260px) {
  #mainview_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #mainview {
    width: 880px;
  }

  #banner_frame {
    width: 300px;
  }

  .sake_users .ranking_sort {
    display: none;
  }

  .multiple-brewery li, .multiple-restaurant li, .multiple-store li, .multiple-item .users {
    margin: 0;
  }

  #ad1, #ad2 {
    border-top: 0px solid transparent;
    margin-top: 0px;
  }

  #ad1 img {
    margin-top: 0px;
  }
}
