#all_container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 105px;
}

#user_information {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: #3f3f3f;
	width: 1200px;
	max-width: 96%;
	height: auto;
}

#main_container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 1200px;
	max-width: 96%;
	height: auto;
}

#link_review_container {
  display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  overflow: hidden;
	width: 1200px;
	max-width: 100%;
	height: auto;
	margin-top: 15px;
}

#side_container {
  display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	width: 1200px;
	max-width: 100%;
	height: auto;
  margin-top: 40px;
}

/************************************************************/
.review_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.review_image {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid #d2d2d2;
  margin-top: 8px;
  margin-right: 8px;
}

.review_image:last-child {
  margin-right: 0;
}

.review_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user_image_name_container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: auto;
}

.user_image_container {
	overflow: hidden;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  margin-right: 8px;
  border: 1px solid #d2d2d2;
}

.user_image_container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#profile_name {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: bold;
  line-height: 140%;
  margin-right: 8px;
  cursor: pointer;
}

/************************************************************/
.user_profile_trigger {
  position: relative;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid #d2d2d2;
  cursor: pointer;
}

.user_profile_trigger .plus_minus_icon, .user_profile_trigger .plus_minus_icon span {
  display: inline-block;
  transition: all .3s;
  box-sizing: border-box;
}

.user_profile_trigger .plus_minus_icon {
  position: relative;
  width: 12px;
  height: 12px;
}

.user_profile_trigger .plus_minus_icon span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d2d2d2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.user_profile_trigger .plus_minus_icon span:nth-of-type(1) {
  top: 6px;
  left: 2px;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.user_profile_trigger .plus_minus_icon span:nth-of-type(2) {
  top: 6px;
  left: 2px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/*＋、－切り替え*/
.user_profile_trigger .plus_minus_icon.active span:nth-of-type(1) {
	display: none;
}

.user_profile_trigger .plus_minus_icon.active span:nth-of-type(2) {
  top: 6px;
  left: 2px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/************************************************************/
.user_profile_container {
  display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
  color: #3f3f3f;
	width: 100%;
	height: auto;
  display: none;
}

.user_profile_title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.user_profile_content {
  width: 100%;
}

.user_profile_text {
  font-size: 13px;
  line-height: 140%;
  padding: 8px 16px;
}

.user_profile_column_container {
	background: #f0f0f0;
  margin: 4px 16px 8px 16px;
}

.user_profile_row {
  color: #3f3f3f;
  width: 100%;
  height: auto;
  border-top: 1px solid #ffffff;
}

.user_profile_row:first-child {
  border-top: none;
}

.user_profile_column1 {
	position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 16px;
  width: 100%;
  padding: 16px 0 8px 0;
  padding-left: 40px;
}

.user_profile_column1:before {
	content:"\00a0";
  display: block;
  border: solid 9px #3f3f3f;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  height: 0;
  width: 0;
  position: absolute;
  left: 16px;
  top: 22px;
  margin-top: -8px;
}

.user_profile_column1:after {
	content:"\00a0";
  display:block;
  width: 3px;
  height: 6px;
  border: solid #f5f5f5;
  border-width: 0 2px 2px 0;
  position:absolute;
  left: 23px;
  top: 22px;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.user_profile_column2 {
	display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  padding: 4px 8px 8px 24px;
}

/************************************************************/
.user_activity_info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 12px;
  line-height: 180%;
  margin-top: 4px;
}

.user_activity_info li {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  margin-right: 15px;
}

.user_activity_info li:last-child {
  margin-right: 0px;
}

.user_activity_info li span {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#user_activity_nonda, #user_activity_sakagura, #user_activity_restaurant, #user_activity_store, #user_activity_follow, #user_activity_follower {
  font-weight: bold;
  margin-left: 4px;
}

.user_activity_info_tokkuri1616, .user_activity_info_store3030, .user_activity_info_pin1616, .user_activity_info_people1616 {
  fill: #b2b2b2;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.user_activity_info_brewery2016 {
  fill: #b2b2b2;
  width: 20px;
  height: 16px;
  margin-right: 5px;
}

.user_activity_info_restaurant1816 {
  fill: #b2b2b2;
  width: 18px;
  height: 16px;
  margin-right: 5px;
}

/************************************************************/
.mypage_top_link_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.mypage_top_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.mypage_top_link span {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  padding-left: 16px;
  margin-left: 8px;
}

.mypage_top_link span:after {
  content:"\00a0";
  display:block;
  width: 8px;
  height: 8px;
  border: solid #b2b2b2;
  border-width: 0 3px 3px 0;
  position:absolute;
  left: 2px;
  top: 1px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/*user_sake_review*******************/
#user_sake_review {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  color: #000000;
  font-size: 13px;
  width: 100%;
}

.user_sake_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

/*user_sake_sake*******************/
.user_sake_sake_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.user_sake_name_brewery_date_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  height: auto;
  margin-right: 0;
}

.user_sake_name {
  color: #0740A5;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  line-height: 140%;
}

.user_sake_brewery_date_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 140%;
  width: 100%;
  margin-top: 4px;
}

/*user_sake_tab*******************/
.user_sake_tab_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.user_sake_tab_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: auto;
  padding: 4px 0;
  margin-top: 8px;
  cursor: pointer;
}

.user_sake_review3630, .user_sake_note3630 {
  fill: #8c8c8c;
  width: 24px;
  height: 20px;
}

.user_sake_review3630 {
  fill: #3f3f3f;
}

.user_nonda_edit {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding: 4px 8px;
  margin-top: 8px;
  margin-left: auto;
  cursor: pointer;
}

.user_nonda_pen1616 {
  fill: #8c8c8c;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.user_sake_border_line {
  background: #d2d2d2;
  width: 1px;
  height: 20px;
  margin-top: 8px;
}

/*tab_body*******************/
.user_sake_tab_body {
  width: 100%;
}

/*tab_panel*******************/
.user_sake_tab_panel {
  width: 100%;
  display: none;
}

.note_caption_tab_panel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

/*user_sake_rank*******************/
.user_sake_rank {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.user_sake_star_rating {
  position: relative;
  width: 100px;
  height: 20px;
  font-size: 20px;
  margin-top: 8px;
}
.user_sake_star_rating_front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #AAC81E;
}
.user_sake_star_rating_back {
  color: #d2d2d2;
}

.user_sake_sake_rate {
  color: #E05314;
	font-size: 16px;
	font-weight: bold;
  margin-top: 8px;
	margin-left: 5px;
}

/*user_sake_subject_message*******************/
.user_sake_subject_message_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.user_sake_subject {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 140%;
  width: 100%;
  margin-top: 16px;
}

.user_sake_message {
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  height: auto;
  margin: 8px 0;
}

/*user_sake_photo*******************/
.user_sake_image_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.user_sake_image {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 1px solid #d2d2d2;
  margin-top: 8px;
  margin-right: 8px;
}

.user_sake_image:last-child {
  margin-right: 0;
}

.user_sake_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*.user_sake_chart*******************/
.user_sake_chart {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.user_sake_chart_content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #000000;
  font-size: 13px;
  width: 100%;
  margin-top: 16px;
}

/*sort*******************/
.user_sake_sort {
	display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#user_sake_sort_all, #user_sake_sort_user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 120px;
  height: 32px;
  margin: 0 16px;
  border-radius: 16px;
  flex-grow: 1;
  cursor: pointer;
}

#user_sake_sort_user {
  border: 2px solid #009696;
}

#user_sake_sort_all {
	color: #8c8c8c;
  border: 2px solid #d2d2d2;
}

/*tasting_box_flavor*******************/
#user_sake_graph_user, #user_sake_graph_all {
  /*flexがあるとグラフ切り替えできない*/
  width: 100%;
}

.user_sake_tasting_box_flavor {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 24px;
}

.user_sake_tasting_flavor_title_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 80px;
  max-width: 80px;
  height: 40px;
}

.user_sake_tasting_title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user_sake_flavor_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 4px;
  flex-grow: 1;
}

#user_sake_flavor_content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#user_sake_flavor_content:last-child {
  margin-top: 4px;
}

.user_sake_flavor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #d2d2d2;
  border-radius: 4px;
}

.user_sake_flavor span {
  color: #d2d2d2;
  font-size: 24px;
  font-weight: bold;
}

.user_sake_flavor_container svg {
  width: 40px;
  height: 40px;
}

.user_sake_flavor_caption {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  height: 40px;
  margin-left: 4px;
  flex-grow: 1;
}

.user_sake_flavor_ratio {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 56px;
  max-width: 56px;
  height: 40px;
  margin-left: 8px;
}

.user_sake_flavor_ratio span {
  font-size: 15px;
  font-weight: bold;
}

/*aroma~yoin*******************/
.user_sake_tasting_box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
}

.user_sake_tasting_box:last-child {
  margin-bottom: 8px;
}

.user_sake_tasting_title_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 80px;
  max-width: 80px;
  height: 25px;
}

.user_sake_tasting_bar_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: 4px;
  flex-grow: 1;
}

.tastingnote_input_range_container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 25px;
}

.everyone_input_range, .user_input_range {
  width: 100%;
}

.everyone_input_range[type="range"], .user_input_range[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #e6e6e6;
  width: 100%;
  height: 2px;
	border-radius: 1px;
}
.everyone_input_range[type="range"]:focus, .everyone_input_range[type="range"]:active, .user_input_range[type="range"]:focus, .user_input_range[type="range"]:active {
  outline: none;
}

.everyone_input_range[type="range"]::-webkit-slider-thumb, .user_input_range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 22px;
  height: 22px;
  display: block;
  border: 2px solid #A0C846;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.user_input_range[type="range"]::-webkit-slider-thumb {
  border: 2px solid #009696;
}

.boxDisplay {
  display: block;
}

.boxNone {
  display: none;
}

.user_sake_tasting_caption {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #8c8c8c;
  font-size: 11px;
  width: 100%;
  margin-top: 4px;
}

.user_sake_tasting_score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 56px;
  max-width: 56px;
  height: 25px;
  margin-left: 8px;
}

.user_sake_tasting_score span {
  font-size: 18px;
  font-weight: bold;
}

/*user_sake_tasting_icon*******************/
.user_sake_icon_adjust {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  margin-right: 4px;
}

.user_sake_flavor3630 {
  fill: #b2b2b2;
  width: 30px;
  height: 25px;
}

.user_sake_aroma2430, .user_sake_body2430, .user_sake_bitter2430 {
  fill: #b2b2b2;
  width: 20px;
  height: 25px;
  margin-right: 4px;
}

.user_sake_clear3030, .user_sake_sweetness3030, .user_sake_umami3030, .user_sake_acidity3030, .user_sake_yoin3030 {
  fill: #b2b2b2;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

/*tastingnote_caption*******************/
.tastingnote_caption {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffeeee;
  color: #887766;
  font-size: 12px;
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px dashed #ffddaa;
  cursor: pointer;
}

.tastingnote_caption_title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #887766;
  font-size: 14px;
  font-weight: bold;
}

.tastingnote_caption_help2020 {
  fill: #887766;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.tastingnote_caption_invisible {
  display: none;
}

.tastingnote_caption_text {
  line-height: 140%;
  margin-top: 8px;
}

.tastingnote_caption_content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tastingnote_caption_content_title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffddaa;
  height: 20px;
  padding: 4px 12px;
  margin-top: 8px;
  border-radius: 10px;
}

.tastingnote_caption_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
}

.tastingnote_caption_item li {
  position: relative;
  line-height: 140%;
  padding-left: 16px;
  margin-right: 20px;
}

.tastingnote_caption_item li:before {
  content:"\00a0";
  display: block;
  border: solid 6px #887766;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 0;
  width: 0;
  position: absolute;
  left: 0px;
  top: 48%;
  margin-top: -7px;
}

.tastingnote_caption_item li:after {
  content:"\00a0";
  display:block;
  width: 3px;
  height: 5px;
  border: solid #ffeeee;
  border-width: 0 1px 1px 0;
  position:absolute;
  left: 4px;
  top: 48%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*user_sake_like*******************/
.user_sake_like_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
  border-top: 1px dotted #d2d2d2;
}

.user_sake_like {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  color: #3f3f3f;
  font-size: 12px;
  height: 24px;
  border-radius: 4px;
  padding: 0 10px;
  margin-top: 8px;
  cursor: pointer;
}

.user_sake_like_title {
  font-weight: bold;
}

.user_sake_like:hover {
  color: #ffffff;
  background: #FF4545;
}

.user_sake_like_icon {
  fill: #8c8c8c;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.user_sake_like:hover .user_sake_like_icon {
  fill: #ffffff;
}

.user_sake_like_count {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #e6e6e6;
  color: #8c8c8c;
  font-size: 12px;
  width: 60px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  margin-top: 8px;
  margin-left: 8px;
}

.user_sake_like_count:before, .user_sake_like_count:after {
  position: absolute;
  right: 100%;
  content: ' ';
  width: 0;
  height: 0;
  border: solid transparent;
}

.user_sake_like_count:before {
  border-width: 6px;
  border-right-color: #e6e6e6;
  top: 5px;
}

.user_sake_like_count:after {
  border-width: 4px;
  border-right-color: #e6e6e6;
  top: 7px;
}

/*edit_sake*******************/
.next_prev_container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.next_prev_bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  width: 100%;
  height: auto;
  padding: 16px 0;
}

#prev_button, #next_button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #28809E;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: 120px;
  height: 30px;
  border-radius: 4px;
}

#prev_button {
  margin-right: 20px;
}

/************************************************************/
.ad_banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #d2d2d2;
}

/************************************************************/
#review_result_turn_page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 12px;
  border: 1px solid #ff0000;
}

#review_result_turn_page .selected {
    background:#22445B;
    color:#fff;
}

#prev_review, #next_review {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:#b2b2b2;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  width: auto;
  height: 24px;
  border-bottom: 1px dotted #b2b2b2;
  cursor: pointer;
}

.pageitems {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #b2b2b2;
  color: #ffffff;
  font-size: 11px;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  margin: 0 4px;
  border-radius: 2px;
  cursor: pointer;
}

/************************************************************/
#sake_table, #sakagura_table {
  width: 100%;
}
/************************************************************/
.searchRow_link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #3f3f3f;
  text-decoration: none;
  width: 100%;
  height: auto;
}

/************************************************************/
#dialog_addimage {
	position: fixed;
	display: none;

	width:98%;
	height:560px;

	top: 50%;
	left: 50%;
	z-index:200;

	margin-top: -280px; /* Negative half of height. */
	margin-left: -49%; /* Negative half of width. */

	text-align: left;
	background-color: #1F2735;
	color:#fff;
	padding:4px;
	font-size: 9pt;

	//opacity: .85;
	//filter: alpha(opacity = 50);
	background: rgba(31, 39, 53, 0.85);
}

#dialog_user {
	position:fixed;
	display:none;
	width:96%;
	height:468px;

	top: 50%;
	left: 50%;
	margin-top: -234px; /* Negative half of height. */
	margin-left: -48%;  /* Negative half of width. */

	z-index:200;
	background-color: #3F3F3F;
	color:#fff;
	padding:4px;
	border-radius:4px;
	font-size: 9pt;
	opacity: .85;
	filter: alpha(opacity = 50);
	transition: all 0.5s linear;
}

.delete_nonda {
    float:right;
    background: #e3e3e3;
    border: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0 0px;
    text-align: center;
    height: 20px;
    width: 100px;
    cursor:pointer;
    text-shadow: 0px 1px 0px #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px #fff inset;
    margin:2px;
}

.delete_nonda:hover {
    background: #d9d9d9;
    box-shadow: 0px 0px 2px #eaeaea inset;
    color: #222;
}

.delete_nonda:active {
    background: #136899;
}

.user_button {
	overflow:hidden;
    float:right;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    text-align: center;
    cursor:pointer;
    background: #e3e3e3;
    margin:2px;
    text-shadow: 0px 1px 0px #fff;
    box-shadow: 0px 0px 2px #fff inset;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user_button:hover {
    background: #d9d9d9;
    box-shadow: 0px 0px 2px #eaeaea inset;
    color: #222;
}

.user_button:active {
    background: #136899;
}

/*********************************************************/

#next_review.active, #next_sakagura.active {
  color: #0740A5;
}

.pageitems {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #b2b2b2;
  color: #ffffff;
  font-size: 11px;
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  margin: 0 4px;
  border-radius: 2px;
  cursor: pointer;
}

/*********************************************************/
@media only screen and (min-width: 480px) {
  .user_nonda_brewery_date_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 560px) {
  #prev_button {
    margin-right: 40px;
  }

  .user_nonda_sake_brewery_date_container {
    margin-right: 8px;
  }

  .user_nonda_brewery_date_container {
    justify-content: flex-start;
  }

  .user_nonda_date {
    margin-left: 20px;
  }

  .user_nonda_button_container {
    display: flex;
  }
}

@media only screen and (min-width: 700px) {
		.hamburger {
			display:none;
		}
}

@media only screen and (min-width: 720px) {
  .user_sake_chart {
    flex-direction: row;
    width: 100%;
  }

  .note_caption_tab_panel {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tastingnote_caption {
    min-width: 320px;
    max-width: 320px;
    margin-top: 16px;
    margin-left: 50px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1260px) {
	#main_container {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

  #link_review_container {
  	width: 880px;
  }

  #side_container {
  	width: 300px;
		margin-top: 15px;
  }

	.ad_banner {
		padding-top: 0;
		border-top: none;
	}
}
