#container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 105px;
}

#registry_user_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 96%;
  max-width: 600px;
  height: auto;
	color: #3f3f3f;
  font-size: 14px;
}

/************************************************************/
.registry_user_title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	color: #000000;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  padding: 8px;
  margin-top: 20px;
}

.registry_user_note{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #E05314;
  font-size: 16px;
  line-height: 120%;
  width: 100%;
  padding: 0 8px;
  margin-top: 8px;
}

#registry_user_form {
  width: 100%;
  height: auto;
  margin-top: 16px;
}

#registry_user_content {
  background: #f5f5f5;
  width: 100%;
  height: auto;
  padding: 24px 16px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
}

/************************************************************/
.row_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.row_container:first-child {
  margin-top: 0;
}

.row_title_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.row_title_sign {
  background: #3f3f3f;
  width: 4px;
  height: 18px;
}

.row_title {
	color: #000000;
  font-size: 16px;
  margin-left: 8px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
}

.column1_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 140%;
}

.column1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #8BA340;
}

.column2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 140%;
  width: 100%;
}

.column2 label {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 8px;
}

.column2 label input {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #3f3f3f;
  font-size: 16px;
  width: 100%;
  height: 30px;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}

/************************************************************/
.registry_user_button_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.agreement_link_button {
  text-decoration: none;
  padding: 4px 8px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #b2b2b2;
}

.agreement_link_button span {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #3f3f3f;
  font-size: 14px;
  width: 140px;
}

.agreement_link_button span:after {
  content:"\00a0";
  display:block;
  width: 4px;
  height: 4px;
  border: solid #8c8c8c;
  border-width: 0 2px 2px 0;
  position:absolute;
  right: 0;
  top: 46%;
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#submit_button {
  background: #C5CE51;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (min-width: 560px) {
  #registry_user_content {
    padding: 32px;
  }
}
